@import "tailwindcss";

@theme {
  --color-epitech-blue: #00adee;
  --color-epitech-blue-hover: #33beff;
  --color-epitech-black: #02040a;
  --color-epitech-gray: #0d1117;
  --color-epitech-border: #1b2333;

  @keyframes float {
    0%,
    100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-20px);
    }
  }

  @keyframes pulse-shadow {
    0%,
    100% {
      transform: scale(1);
      opacity: 0.2;
    }
    50% {
      transform: scale(1.5);
      opacity: 0.1;
    }
  }

  @keyframes move-bg {
    0% {
      transform: translate(0, 0);
    }
    50% {
      transform: translate(5%, 5%);
    }
    100% {
      transform: translate(0, 0);
    }
  }

  @keyframes slide-down {
    0% {
      transform: translateY(-50%);
    }
    100% {
      transform: translateY(0);
    }
  }

  @keyframes slide-up {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-50%);
    }
  }

  --animate-float: float 4s ease-in-out infinite;
  --animate-pulse-shadow: pulse-shadow 4s ease-in-out infinite;
  --animate-move-bg: move-bg 20s ease-in-out infinite;
  --animate-slide-down: slide-down 20s linear infinite;
  --animate-slide-up: slide-up 20s linear infinite;
}

:root {
  --background: #02040a;
  --foreground: #ffffff;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-geist-sans), sans-serif;
  margin: 0;
  padding: 0;
}
